@page "/"
@inherits IndexComponent;

@using System.IO

<div class="form-group">
    <p>
        <label for="exampleFormControlFile1">
            Click "Choose Files" to select images which you want to resize (@maxAllowedFiles files of up to @maxFileSize bytes each)
            <InputFile OnChange="@OpenFilePicker" multiple class="form-control-file" id="exampleFormControlFile1" />
        </label>
        <p/>
        <label for="resizeButton">
            <button type="submit" class="btn btn-primary mb-2" @onclick="OnResizeButtonClick" id="resizeButton">Resize</button>
        </label>
    </p>
    @output

    <p>@exceptionMessage</p>

    @if (isLoading)
    {
        <p>Loading...</p>
    }

    <ul>
        @foreach (var image in ImageFiles)
        {
            <li>
                <ul>
                    <li>Name: @image.Name</li>
                    <li>Last modified: @image.LastModified.ToString()</li>
                    <li>Size (bytes): @image.Size</li>
                    <li>Content type: @image.ContentType</li>
                    <li>width: @image.Width</li>
                    <li>height: @image.Height</li>
                    @if (image.ContentType.Contains("image/", StringComparison.OrdinalIgnoreCase))
                    {
                        <li><img src="@image.ToBase64ImageSrc()" /></li>
                    }

                </ul>
            </li>
        }
    </ul>
</div>